.calendar-events .event {
  margin-bottom: 10px
}

.calendar-events .event .l-indent {
  padding-left: 15px
}

.calendar-events .event .summary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendar-events .event .summary .desc {
  color: #6c757d;
}